@font-face {
	font-family: 'rubik-black';
	src: url('../eb/fonts/rubik/rubik-black/rubik-black.eot');
	src: url('../eb/fonts/rubik/rubik-black/rubik-black.eot?#iefix') format('embedded-opentype'), url('../eb/fonts/rubik/rubik-black/rubik-black.woff2') format('woff2'), url('../eb/fonts/rubik/rubik-black/rubik-black.woff') format('woff'), url('../eb/fonts/rubik/rubik-black/rubik-black.ttf') format('ttf');
	font-weight: 900;
	font-style: normal;
}


@font-face {
	font-family: 'rubik-blackitalic';
	src: url('../eb/fonts/rubik/rubik-blackItalic/rubik-blackitalic.eot');
	src: url('../eb/fonts/rubik/rubik-blackItalic/rubik-blackitalic.eot?#iefix') format('embedded-opentype'), url('../eb/fonts/rubik/rubik-blackItalic/rubik-blackitalic.woff2') format('woff2'), url('../eb/fonts/rubik/rubik-blackItalic/rubik-blackitalic.woff') format('woff'), url('../eb/fonts/rubik/rubik-blackItalic/rubik-blackitalic.ttf') format('ttf');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'rubik-bolditalic';
	src: url('../eb/fonts/rubik/rubik-boldItalic/rubik-bolditalic.eot');
	src: url('../eb/fonts/rubik/rubik-boldItalic/rubik-bolditalic.eot?#iefix') format('embedded-opentype'), url('../eb/fonts/rubik/rubik-boldItalic/rubik-bolditalic.woff2') format('woff2'), url('../eb/fonts/rubik/rubik-boldItalic/rubik-bolditalic.woff') format('woff'), url('../eb/fonts/rubik/rubik-boldItalic/rubik-bolditalic.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'rubik-bold';
	src: url('../eb/fonts/rubik/rubik-bold/rubik-bold.eot');
	src: url('../eb/fonts/rubik/rubik-bold/rubik-bold.eot?#iefix') format('embedded-opentype'), url('../eb/fonts/rubik/rubik-bold/rubik-bold.woff2') format('woff2'), url('../eb/fonts/rubik/rubik-bold/rubik-bold.woff') format('woff'), url('../eb/fonts/rubik/rubik-bold/rubik-bold.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'rubik-regular';
	src: url('../eb/fonts/rubik/rubik-regular/rubik-regular.eot');
	src: url('../eb/fonts/rubik/rubik-regular/rubik-regular.eot?#iefix') format('embedded-opentype'), url('../eb/fonts/rubik/rubik-regular/rubik-regular.woff2') format('woff2'), url('../eb/fonts/rubik/rubik-regular/rubik-regular.woff') format('woff'), url('../eb/fonts/rubik/rubik-regular/rubik-regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'rubik-italic';
	src: url('../rubik/rubik-italic/rubik-italic.eot');
	src: url('../rubik/rubik-italic/rubik-italic.eot?#iefix') format('embedded-opentype'), url('../rubik/rubik-italic/rubik-italic.woff2') format('woff2'), url('../rubik/rubik-italic/rubik-italic.woff') format('woff'), url('../rubik/rubik-italic/rubik-italic.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'rubik-light';
	src: url('../eb/fonts/rubik/rubik-light/rubik-light.eot');
	src: url('../eb/fonts/rubik/rubik-light/rubik-light.eot?#iefix') format('embedded-opentype'), url('../eb/fonts/rubik/rubik-light/rubik-light.woff2') format('woff2'), url('../eb/fonts/rubik/rubik-light/rubik-light.woff') format('woff'), url('../eb/fonts/rubik/rubik-light/rubik-light.ttf') format('ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'rubik-lightitalic';
	src: url('../eb/fonts/rubik/rubik-lightItalic/rubik-lightitalic.eot');
	src: url('../eb/fonts/rubik/rubik-lightItalic/rubik-lightitalic.eot?#iefix') format('embedded-opentype'), url('../eb/fonts/rubik/rubik-lightItalic/rubik-lightitalic.woff2') format('woff2'), url('../eb/fonts/rubik/rubik-lightItalic/rubik-lightitalic.woff') format('woff'), url('../eb/fonts/rubik/rubik-lightItalic/rubik-lightitalic.ttf') format('ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'rubik-medium';
	src: url('../eb/fonts/rubik/rubik-medium/rubik-medium.eot');
	src: url('../eb/fonts/rubik/rubik-medium/rubik-medium.eot?#iefix') format('embedded-opentype'), url('../eb/fonts/rubik/rubik-medium/rubik-medium.woff2') format('woff2'), url('../eb/fonts/rubik/rubik-medium/rubik-medium.woff') format('woff'), url('../eb/fonts/rubik/rubik-medium/rubik-medium.ttf') format('ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'rubik-mediumitalic';
	src: url('../eb/fonts/rubik/rubik-mediumItalic/rubik-mediumitalic.eot');
	src: url('../eb/fonts/rubik/rubik-mediumItalic/rubik-mediumitalic.eot?#iefix') format('embedded-opentype'), url('../eb/fonts/rubik/rubik-mediumItalic/rubik-mediumitalic.woff2') format('woff2'), url('../eb/fonts/rubik/rubik-mediumItalic/rubik-mediumitalic.woff') format('woff'), url('../eb/fonts/rubik/rubik-mediumItalic/rubik-mediumitalic.ttf') format('ttf');
	font-weight: 500;
	font-style: normal;
}

html, body {
	font-family: 'rubik-regular', 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    background: #F0F4F3;
	height: 100%;
}


.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}


.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}
.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #97E0B0;
	z-index: 2;
}

.header__body {
	position: relative;
	/*z-index: 2;*/
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.header__logo {
	flex: 0 0 80px;
	position: relative;
	z-index: 3;
}

.header__logo img {
	max-width: 100%;
}

.header__burger {
	display: none;
}

.header__list {
	display: flex;
	position: relative;
	z-index: 2;
}

.header__list li {
	list-style-type: none;
	margin:  0 0 0 20px;
}

.header__link {
font-size: 16px;
line-height: 19px;
color: #00052E;
}

.content {
    padding: 90px 0 0 0;
}

.content_txt {
	font-size: 16px;
	text-align: justify;	
}

@media (max-width: 768px) {
	body.lock {
		overflow: hidden;

	}

	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}

	.header__body {
		height: 50px;
	}

	.header__logo {
		flex: 0 0 40px;
	}

	.header__burger span {
		background-color: #00052E;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before,
	.header__burger::after {
		content: '';
		background-color: #00052E;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before {
		top: 0;
	}
	
	.header__burger::after {
		bottom: 0;
	}

	.header__burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active::after {
		transform: rotate(-45deg);
		top: 9px;
	}

	.header__burger.active span {
		transform: scale(0);		
	}

	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #97E0B0;
		padding: 70px 10px 20px 10px;
		transition: all 0.3s ease 0s;
	}

	.header__menu.active {
		top: 0;
	}

	.header__list {
		display: block;
	}

	.header__list li {
		margin:  0 0 20px 0;
	}

	.header__link {
		font-size: 24px;
		}

	.content {
		padding: 70px 0 0 0;
	}
}