@font-face {
	font-family: 'rubik-black';
	src: url('./fonts/rubik/rubik-black/rubik-black.eot');
	src: url('./fonts/rubik/rubik-black/rubik-black.eot?#iefix') format('embedded-opentype'), url('./fonts/rubik/rubik-black/rubik-black.woff2') format('woff2'), url('./fonts/rubik/rubik-black/rubik-black.woff') format('woff'), url('./fonts/rubik/rubik-black/rubik-black.ttf') format('ttf');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'rubik-blackitalic';
	src: url('./fonts/rubik/rubik-blackItalic/rubik-blackitalic.eot');
	src: url('./fonts/rubik/rubik-blackItalic/rubik-blackitalic.eot?#iefix') format('embedded-opentype'), url('./fonts/rubik/rubik-blackItalic/rubik-blackitalic.woff2') format('woff2'), url('./fonts/rubik/rubik-blackItalic/rubik-blackitalic.woff') format('woff'), url('./fonts/rubik/rubik-blackItalic/rubik-blackitalic.ttf') format('ttf');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'rubik-bolditalic';
	src: url('./fonts/rubik/rubik-boldItalic/rubik-bolditalic.eot');
	src: url('./fonts/rubik/rubik-boldItalic/rubik-bolditalic.eot?#iefix') format('embedded-opentype'), url('./fonts/rubik/rubik-boldItalic/rubik-bolditalic.woff2') format('woff2'), url('./fonts/rubik/rubik-boldItalic/rubik-bolditalic.woff') format('woff'), url('./fonts/rubik/rubik-boldItalic/rubik-bolditalic.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'rubik-bold';
	src: url('./fonts/rubik/rubik-bold/rubik-bold.eot');
	src: url('./fonts/rubik/rubik-bold/rubik-bold.eot?#iefix') format('embedded-opentype'), url('./fonts/rubik/rubik-bold/rubik-bold.woff2') format('woff2'), url('./fonts/rubik/rubik-bold/rubik-bold.woff') format('woff'), url('./fonts/rubik/rubik-bold/rubik-bold.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'rubik-regular';
	src: url('./fonts/rubik/rubik-regular/rubik-regular.eot');
	src: url('./fonts/rubik/rubik-regular/rubik-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/rubik/rubik-regular/rubik-regular.woff2') format('woff2'), url('./fonts/rubik/rubik-regular/rubik-regular.woff') format('woff'), url('./fonts/rubik/rubik-regular/rubik-regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'rubik-italic';
	src: url('../rubik/rubik-italic/rubik-italic.eot');
	src: url('../rubik/rubik-italic/rubik-italic.eot?#iefix') format('embedded-opentype'), url('../rubik/rubik-italic/rubik-italic.woff2') format('woff2'), url('../rubik/rubik-italic/rubik-italic.woff') format('woff'), url('../rubik/rubik-italic/rubik-italic.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'rubik-light';
	src: url('./fonts/rubik/rubik-light/rubik-light.eot');
	src: url('./fonts/rubik/rubik-light/rubik-light.eot?#iefix') format('embedded-opentype'), url('./fonts/rubik/rubik-light/rubik-light.woff2') format('woff2'), url('./fonts/rubik/rubik-light/rubik-light.woff') format('woff'), url('./fonts/rubik/rubik-light/rubik-light.ttf') format('ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'rubik-lightitalic';
	src: url('./fonts/rubik/rubik-lightItalic/rubik-lightitalic.eot');
	src: url('./fonts/rubik/rubik-lightItalic/rubik-lightitalic.eot?#iefix') format('embedded-opentype'), url('./fonts/rubik/rubik-lightItalic/rubik-lightitalic.woff2') format('woff2'), url('./fonts/rubik/rubik-lightItalic/rubik-lightitalic.woff') format('woff'), url('./fonts/rubik/rubik-lightItalic/rubik-lightitalic.ttf') format('ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'rubik-medium';
	src: url('./fonts/rubik/rubik-medium/rubik-medium.eot');
	src: url('./fonts/rubik/rubik-medium/rubik-medium.eot?#iefix') format('embedded-opentype'), url('./fonts/rubik/rubik-medium/rubik-medium.woff2') format('woff2'), url('./fonts/rubik/rubik-medium/rubik-medium.woff') format('woff'), url('./fonts/rubik/rubik-medium/rubik-medium.ttf') format('ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'rubik-mediumitalic';
	src: url('./fonts/rubik/rubik-mediumItalic/rubik-mediumitalic.eot');
	src: url('./fonts/rubik/rubik-mediumItalic/rubik-mediumitalic.eot?#iefix') format('embedded-opentype'), url('./fonts/rubik/rubik-mediumItalic/rubik-mediumitalic.woff2') format('woff2'), url('./fonts/rubik/rubik-mediumItalic/rubik-mediumitalic.woff') format('woff'), url('./fonts/rubik/rubik-mediumItalic/rubik-mediumitalic.ttf') format('ttf');
	font-weight: 500;
	font-style: normal;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

:root {
	--main-color: #97E0B0;
	--text-color: #00052E;
  }


  .header__body.header__burger:focus-visible,
  .header__burger active {
	  outline: 10px solid #8fd5a7;
  }
  
  .header__logo:focus-visible,
  a.header__link:focus-visible,
  .phone_number:focus-visible,
  .phone_number__desktop:focus-visible,
  .go_course__header button:focus-visible,
  button:focus-visible,
  button#btn_about_me__full:focus-visible,
  .slider__dots:focus-visible,
  .slider__dot:focus-visible,
  .go_course__header button:focus-visible,
  .header__logo img:focus-visible {
	  outline: 3px solid #8fd5a7;
  }
  
  
  
  
  
  html,
  body {
	  font-family: 'rubik-regular', 'Roboto', sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size: 15px;
	  margin: 0;
	  padding: 0;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  background: #F0F4F3;
	  height: 100%;
  }
  
  .wrapper {
	  max-width: 1600px;
	  margin: auto;
  }
  
  .header {
	  position: fixed;
	  width: 100%;
	  top: 0;
	  left: 0;
	  z-index: 100;
  }
  
  .header::before {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color: var(--main-color, #97E0B0);
	  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	  z-index: 2;
  }
  
  .header__body {
	  position: relative;
	  display: grid;
	  grid-template-columns: 70px 1fr 70px;
	  text-align: center;
	  align-items: center;
	  align-content: center;
	  z-index: 2;
	  height: 80px;
  }
  
  .header__logo {
	  flex: 0 0 90px;
	  position: relative;
	  z-index: 3;
	  padding: 2px;
  }
  
  .header__logo:hover {
	  cursor: pointer;
  }
  
  .header__logo img {
	  max-width: 100%;
  }
  
  .container_header {
	  padding: 0 2%;
	  max-width: 1600px;
	  margin: auto;
  }
  
  body.lock {
	  overflow: hidden;
  }
  
  .phone_number {
	  font-family: rubik-regular, 'Roboto', sans-serif;
	  font-style: normal;
	  font-weight: 400;
	  font-size: 15px;
	  line-height: 18px;
	  color: var(--text-color, #00052E);
  }
  
  .phone_number:hover {
	  color: #000844;
	  cursor: pointer;
	  transition: 0.1s;
  }
  
  .header__burger {
	  display: block;
	  position: relative;
	  width: 30px;
	  height: 20px;
	  z-index: 3;
	  margin: auto;
  }
  
  .header__burger:hover {
	  cursor: pointer;
  }
  
  .header__burger span {
	  background-color: var(--text-color, #00052E);
	  position: absolute;
	  left: 0;
	  width: 100%;
	  height: 2px;
	  top: 9px;
	  transition: all 0.3s ease 0s;
  }
  
  .header__burger::before,
  .header__burger::after {
	  content: '';
	  background-color: var(--text-color, #00052E);
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  left: 0;
	  transition: all 0.3s ease 0s;
  }
  
  .header__burger::before {
	  top: 0;
  }
  
  .header__burger::after {
	  bottom: 0;
  }
  
  .header__burger.active::before {
	  transform: rotate(45deg);
	  top: 9px;
  }
  
  .header__burger.active::after {
	  transform: rotate(-45deg);
	  top: 9px;
  }
  
  .header__burger.active span {
	  transform: scale(0);
  }
  
  .phone_number__mob {
	  z-index: 3;
	  background-color: var(--main-color, #97E0B0);
	  padding: 28px 0;
  }
  
  .phone_number__desktop {
	  display: none;
  }
  
  .header__menu {
	  position: fixed;
	  top: -100%;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  background-color: var(--main-color, #97E0B0);
	  padding: 70px 10px 20px 10px;
	  transition: all 0.3s ease 0s;
  }
  
  .header__menu.active {
	  top: 0;
  }
  
  .header__list {
	  display: block;
	  margin: 0 35px 10px 0;
  }
  
  .header__list li {
	  list-style-type: none;
	  margin: 16.5px 0 0 0;
	  text-align: center;
  }
  
  a.header__link {
	  position: relative;
	  font-size: 16px;
	  line-height: 19px;
	  color: var(--text-color, #00052E);
	  cursor: pointer;
	  text-decoration: none;
  }
  
  a.header__link:after {
	  display: block;
	  position: absolute;
	  left: 0;
	  /*изменить на right:0;, чтобы изменить направление подчёркивания */
	  width: 0;
	  /*задаём длинну линии до наведения курсора*/
	  height: 2px;
	  /*задаём ширину линии*/
	  background-color: var(--text-color, #00052E);
	  /*задаём цвет линии*/
	  content: "";
	  transition: width 0.3s ease-out;
	  /*задаём время анимации*/
  }
  
  a.header__link:hover:after,
  a.header__link:focus:after {
	  width: 100%;
	  /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
  }
  
  .content {
	  padding: 90px 0 0 0;
	  position: relative;
  }
  
  .container_go_course {
	  margin: 0 auto;
	  padding: 0 10px;
  }
  
  .go_course__header {
	  display: grid;
	  grid-template-areas: "go_course__header__h3" "go_course__header__h2" "go_course__header__img" "go_course__header__p" "go_course__header__button";
	  grid-template-columns: 1fr;
	  grid-template-rows: 1fr;
	  padding-bottom: 50px;
  }
  
  .go_course__header h3 {
	  grid-area: go_course__header__h3;
	  font-family: rubik-regular, 'Roboto', sans-serif;
	  font-style: normal;
	  font-weight: 400;
	  font-size: 15px;
	  line-height: 20px;
	  color: var(--text-color, #00052E);
	  margin: 20px 0 0 30px;
  }
  
  .go_course__header h2 {
	  grid-area: go_course__header__h2;
	  font-family: rubik-medium, 'Roboto', sans-serif;
	  font-style: normal;
	  font-weight: 600;
	  font-size: 30px;
	  line-height: 50px;
	  color: #FD9C96;
	  margin: 0 0 15px 30px;
  }
  
  .go_course__header p {
	  grid-area: go_course__header__p;
	  font-family: rubik-light, 'Roboto', sans-serif;
	  font-style: normal;
	  font-weight: 400;
	  font-size: 15px;
	  line-height: 22px;
	  text-align: center;
	  color: var(--text-color, #00052E);
	  margin: -20px 0 30px 0;
  }
  
  .go_course__header button {
	  grid-area: go_course__header__button;
	  width: 168px;
	  height: 50px;
	  background: var(--main-color, #97E0B0);
	  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	  font-family: rubik-medium, 'Roboto', sans-serif;
	  font-style: normal;
	  font-weight: 500;
	  font-size: 15px;
	  line-height: 24px;
	  color: var(--text-color, #00052E);
	  display: block;
	  margin: auto;
	  border: none;
  }
  
  .go_course__header button:hover {
	  background: #9ce7b6;
	  transition: 0.5s;
	  cursor: pointer;
	  border: none;
  }
  
  /*
  .go_course__header button:focus {
	  outline: 1px solid #69a27c;
  }
  
  */
  
  .go_course__header_img_wpr {
	  grid-area: go_course__header__img;
	  margin: auto;
	  width: 100%;
	  height: 337px;
	  min-height: 337px;
	  max-height: 337px;
	  background: url("./img/header__block-img-mob.png") no-repeat;
	  background-size: contain;
	  background-position: top;
  }
  
  .container__about_me {
	  display: block;
  }
  
  
  /*Стили сворачивания разворачивания*/
  
  #more_about_me {
	  display: none;
  }
  
  
  /**/
  
  .container__about_me {
	  position: relative;
	  margin: auto;
	  background-color: var(--main-color, #97E0B0);
	  width: 100%;
	  padding: 50px 0;
  }
  
  .photo__about_me {
	  width: 100%;
	  height: 350px;
	  max-height: 600px;
	  background: url(./img/about__project_img.jpg) no-repeat;
	  background-position: top;
	  /*background-size: contain;*/
	  background-size: cover;
	  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
  }
  
  .txt_about_me__wrp {
	  position: relative;
	  background: rgba(255, 255, 255, 0.9);
	  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	  padding: 30px;
	  margin: -30px 15px 0 15px;
  }
  
  .p__about_me__pc1,
  .p__about_me__pc2,
  .p__about_me__pc3 {
	  display: none;
  }
  
  button#btn_about_me {
	  border-radius: 50%;
	  width: 25px;
	  height: 25px;
	  border: 1px solid #679878;
	  background-color: #ffffffbf;
	  color: #679878;
	  position: absolute;
	  right: 0;
	  bottom: 0;
	  margin: 0 23px 23px 0;
  
  }
  
  .circle1__about_me,
  .circle2__about_me {
	  display: none;
  }
  
  
  /*Слайдер блок 3 - преимущества*/
  
  .slider {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
  }
  
  .slider__slides {
	  position: relative;
	  width: 400%;
	  height: 100%;
	  transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
	  will-change: transform;
  }
  
  .slider[data-pos="0"] .slider__slides {
	  transform: translateX(0%);
  }
  
  .slider[data-pos="1"] .slider__slides {
	  transform: translateX(-25%);
  }
  
  .slider[data-pos="2"] .slider__slides {
	  transform: translateX(-50%);
  }
  
  .slider__slide {
	  float: left;
	  width: 25%;
	  height: 100%;
	  padding: 30px 15px;
  }
  
  .slider__dots {
	  display: flex;
	  position: absolute;
	  bottom: 24px;
	  top: 95%;
	  left: 50%;
	  transform: translateX(-50%);
  }
  
  .slider__dot,
  .slider__indicator {
	  display: block;
	  margin: 0 8px;
	  width: 16px;
	  height: 16px;
	  background: #C4C4C4;
  }
  
  .slider__indicator {
	  position: absolute;
	  background-color: var(--main-color, #97E0B0);
	  width: auto;
  }
  
  .slider__indicator--left {
	  transition: left 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  }
  
  .slider__indicator--right {
	  transition: left 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  }
  
  .slider[data-pos="0"] .slider__indicator {
	  left: 0px;
	  right: 64px;
  }
  
  .slider[data-pos="1"] .slider__indicator {
	  left: 32px;
	  right: 32px;
  }
  
  .slider[data-pos="2"] .slider__indicator {
	  left: 64px;
	  right: 0px;
  }
  
  .benefits_item__block__wrp-mob {
	  display: flex;
	  height: 100%;
	  justify-content: center;
	  align-items: center;
  }
  
  .benefits_item__block__wrp-pc {
	  display: none;
  }
  
  .slider {
	  max-width: 600px;
	  max-height: 600px;
  }
  
  .container__benefits {
	  padding: 50px 15px;
  }
  
  .benefits_heading {
	  font-family: rubik-medium, 'Roboto', sans-serif;
	  font-style: normal;
	  font-weight: 600;
	  font-size: 20px;
	  line-height: 24px;
	  color: var(--text-color, #00052E);
	  margin-bottom: 30px;
  }
  
  .benefits_item__img-h {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  align-content: center;
	  justify-content: flex-start;
	  align-items: center;
	  column-gap: 30px;
  }
  
  .benefits_item__wrp p {
	  font-family: rubik-regular, 'Roboto', sans-serif;
	  font-style: normal;
	  font-weight: 400;
	  margin-top: 20px;
	  font-size: 15px;
	  line-height: 22px;
	  text-align: left;
	  color: var(--text-color, #00052E);
  }
  
  .benefits_item__img-h h4 {
	  font-family: rubik-medium, 'Roboto', sans-serif;
	  font-style: normal;
	  font-weight: 600;
	  font-size: 17px;
	  line-height: 20px;
	  color: var(--text-color, #00052E);
  }
  
  
  /*блок про меня полный*/
  
  .photo__about_me__full {
	  width: 100%;
	  height: 233px;
	  max-height: 630px;
	  background: url(./img/about-me-full.jpg) no-repeat;
	  /*background-size: contain;*/
	  background-size: cover;
	  background-position-x: center;
	  background-position-y: bottom;
	  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  }
  
  .about_me__full__img__wrp {
	  display: none;
  }
  
  #more_about_me__full {
	  display: none;
  }
  
  
  /*стили сворачивания/разворачивания текста. Блок - про меня полный*/
  
  .about_me__full__wrp {
	  position: relative;
	  margin: auto;
	  background-color: #F0F4F3;
	  width: 100%;
	  padding: 50px 0;
  }
  
  .title__about_me__full {
	  font-family: rubik-medium, 'Roboto', sans-serif;
	  font-style: normal;
	  font-weight: 600;
	  font-size: 20px;
	  line-height: 24px;
	  color: var(--text-color, #00052E);
	  margin-bottom: 30px;
  }
  
  .p__about_me__full {
	  font-family: 'rubik-regular', 'Roboto', sans-serif;
	  font-style: normal;
	  font-weight: 400;
	  font-size: 15px;
	  line-height: 24px;
	  color: var(--text-color, #00052E);
  }
  
  .txt_about_me__wrp__full {
	  position: relative;
	  background: rgba(255, 255, 255, 0.9);
	  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	  padding: 30px;
	  margin: -30px 15px 0 15px;
  }
  
  button#btn_about_me__full {
	  border-radius: 50%;
	  width: 25px;
	  height: 25px;
	  border: 1px solid #679878;
	  background-color: #ffffffbf;
	  color: #679878;
	  position: absolute;
	  right: 0;
	  bottom: 0;
	  margin: 0 23px 23px 0;
  }

  .container__cause {
    padding-bottom: 50px;
}

  .cause_title {
    font-family: rubik-medium, 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--text-color, #00052E);
	margin: 10px 15% 30px 15%;
}

.cause_txt {
    font-family: rubik-regular, 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: var(--text-color, #00052E);
	margin: 0 5% 30px 5%;
}


.cause_items__wrp {
    margin: 0 5% 0 5%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.cause_item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
	column-gap: 30px;
	padding: 15px;
}

img.cause_check {
    width: 37px;
    height: auto;
}

.cause_p {
    font-family: rubik-regular, 'Roboto', sans-serif;
    font-weight: 400;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: var(--text-color, #00052E);
	margin: 0;
}

@media (min-width: 576px) {
	  .go_course__header {
		  display: grid;
		  grid-template-areas: "go_course__header__h3 go_course__header__img" "go_course__header__h2 go_course__header__img" "go_course__header__p go_course__header__img" "go_course__header__button go_course__header__img";
		  grid-template-columns: 50% 50%;
		  grid-template-rows: 140px 75px 97px 70px;
		  padding-top: 20px;
		  padding-bottom: 50px;
	  }
	  .go_course__header h3 {
		  margin: 110px 0 0 30px;
		  font-size: 18px;
	  }
	  .go_course__header h2 {
		  position: absolute;
		  margin: 140px 0 15px 30px;
		  font-size: 48px;
	  }
	  .go_course__header p {
		  position: absolute;
		  width: 370px;
		  margin: 210px 0 30px 30px;
		  text-align: left;
		  line-height: 24px;
	  }
	  .go_course__header_img_wpr {
		  grid-area: go_course__header__img;
		  margin: auto;
		  width: 100%;
		  height: 100%;
		  max-height: 627px;
		  background: url("./img/header__block-img-tablet.png") no-repeat;
		  background-size: contain;
		  background-position: top;
	  }
	  .photo__about_me {
		  background-size: contain;
	  }
	  .txt_about_me__wrp {
		  margin: -30px 100px 0 100px;
	  }
	  .go_course__header button {
		  margin: 0 0 0 29px;
	  }
	  .benefits_item__block__wrp-mob {
		  display: none;
	  }
	  .benefits_item__block__wrp-pc {
		  display: block;
		  display: grid;
		  grid-template-columns: 1fr 1fr;
		  align-content: space-around;
		  justify-content: space-between;
		  align-items: start;
		  justify-items: center;
		  gap: 15px;
	  }
	  .container__benefits {
		  padding: 50px 5%;
	  }
	  .benefits_item__wrp {
		  max-width: 350px;
	  }
	  .photo__about_me__full {
		  width: 100%;
		  height: 300px;
		  /* background-size: contain; */
		  background-size: cover;
		  background-position-x: center;
		  background-position-y: bottom;
	  }

	  
.cause_items__wrp {
    grid-template-columns: 1fr 1fr;
}

.cause_title {
	font-family: rubik-medium, 'Roboto', sans-serif;
	font-weight: 600;
    font-size: 33px;
    line-height: 39px;
}

.cause_p {
	font-size: 19px;
	line-height: 24px;
}


  }
  
  @media (min-width: 768px) {
	  .header {
		  height: 80px;
	  }
	  .header__logo img {
		  max-width: 100px;
		  margin-left: 14px;
	  }
	  .header__burger {
		  display: none;
	  }
	  .header__menu {
		  position: relative;
		  display: block;
		  padding: 0;
		  width: auto;
		  height: auto;
		  top: 0;
		  margin: 0 auto;
	  }
	  .header__body {
		  grid-template-columns: 120px 1fr 150px;
	  }
	  .header__logo {
		  flex: 0 0 80px;
	  }
	  .phone_number__mob {
		  display: none;
	  }
	  .phone_number__desktop {
		  display: block;
		  z-index: 3;
		  margin-top: 7px;
	  }
	  .header__list {
		  display: flex;
		  position: relative;
		  z-index: 2;
		  gap: 20px;
	  }
	  .header__link {
		  font-size: 16px;
	  }
	  .go_course__header {
		  grid-template-columns: 1fr 1fr;
		  grid-template-rows: 220px 75px 110px 140px;
	  }
	  .photo__about_me {
		  width: 100%;
		  height: 570px;
		  max-height: 600px;
		  background: url(./img/about__project_img.jpg) no-repeat;
		  background-position: top;
		  background-size: contain;
		  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
	  }
	  .circle1__about_me {
		  display: block;
		  position: absolute;
		  right: 0;
		  top: 0%;
	  }
	  .circle2__about_me {
		  display: block;
		  position: absolute;
		  bottom: 0;
		  left: 0;
	  }
	  .go_course__header button {
		  margin: -60px 0 0 29px;
	  }
	  .benefits_item__block__wrp-pc {
		  grid-template-columns: 1fr 1fr 1fr;
	  }
	  .txt_about_me__wrp__full {
		  position: absolute;
		  top: 100px;
	  }
	  .about_me__full__img__wrp {
		  display: block;
		  position: absolute;
		  z-index: 1;
		  right: 0;
	  }
	  .photo__about_me__full {
		  margin-top: 175px;
		  height: 530px;
		  width: auto;
	  }

	  .cause_p {
		font-weight: 600;
	}

  }
  
  @media (min-width: 1100px) {
	  .header__list {
		  gap: 50px;
	  }
	  .go_course__header {
		  padding: 0 3%;
	  }
	  .go_course__header_img_wpr {
		  grid-area: go_course__header__img;
		  margin: auto;
		  width: 100%;
		  height: 480px;
		  min-height: 345px;
		  max-height: 668px;
		  background: url("./img/header__block-img-pc.png") no-repeat;
		  background-size: contain;
		  background-position: top;
	  }
	  .p__about_me,
	  #btn_about_me,
	  .circle1__about_me {
		  display: none;
	  }
	  .p__about_me__pc1,
	  .p__about_me__pc2,
	  .p__about_me__pc3 {
		  display: block;
	  }
	  .container__about_me {
		  display: flex;
		  flex-direction: row;
		  flex-wrap: nowrap;
		  align-content: center;
		  justify-content: center;
		  align-items: center;
	  }
	  .txt_about_me__wrp {
		  width: 668px;
		  height: 494px;
		  padding: 80px;
		  margin: 0 0 0 -80px;
	  }
	  img.circle2__about_me {
		  left: inherit;
		  right: 0;
	  }
	  
	  img.about_me__full__img__wrp {
	  margin-right: 8%;
  }
  
  
	  .photo__about_me {
		  background: url(./img/about__project_img2.jpg) no-repeat;
		  height: 628px;
		  width: 670px;
	  }
	  
	  .txt_about_me__wrp__full {
	  margin-left: 15%;
	  margin-right: 15%;
  }

  .cause_items__wrp {
    grid-template-columns: 1fr 1fr 1fr;
}

  }
  
  @media (min-width: 1200px) {
	  .go_course__header {
		  padding: 0 10% 0 10%;
	  }
		  .photo__about_me__full {
		  height: 630px;
  
	  }

  }